<!DOCTYPE html>
<html lang="en">
<%- include("./components/header.ejs")%>
<body class="">
  <%- include("./page/forgotpassword/forgotpassword.ejs")%>
  <%- include("./components/script.ejs")%>
  <%- include("./page/forgotpassword/forgotpasswordscript.ejs")%>
</body>

</html>