<!DOCTYPE html>
<html lang="en">
<%- include("./components/header.ejs")%>
<body class="">
  <%- include("./page/login/login.ejs")%>
  <%- include("./components/script.ejs")%>
  <%- include("./page/login/loginscript.ejs")%>
</body>

</html>