<!DOCTYPE html>
<html lang="en">
<%- include("./components/header.ejs")%>
<body class="">
  <%- include("./page/resetpassword_admin/resetpassword_admin.ejs")%>
  <%- include("./components/script.ejs")%>
  <%- include("./page/resetpassword_admin/resetpassword_adminscript.ejs")%>
</body>

</html>