<!DOCTYPE html>
<html lang="en">
<%- include("./components/header.ejs")%>
<body class="">
  <%- include("./page/sp_admin_login/sp_admin_login.ejs")%>
  <%- include("./components/script.ejs")%>
  <%- include("./page/sp_admin_login/sp_admin_loginscript.ejs")%>
</body>

</html>