<!DOCTYPE html>
<html lang="en">
<%- include("./components/header.ejs")%>
<body class="">
  <%- include("./page/student_registration/student_registration.ejs")%>
  <%- include("./components/script.ejs")%>
  <%- include("./page/student_registration/student_registrationscript.ejs")%>
</body>

</html>