<!-- <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <img src="/img/spcpc-removebg-preview.png" style="width: 100px;" alt="logo">
                  <h4 class="font-weight-bolder">Create New Password</h4>
                  <p class="mb-0">Enter your new password</p>
                </div>
                <div class="card-body">
                  <form role="form">
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-lg" placeholder="New Password" aria-label="Email" id="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Email" id="username">
                      </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-lg btn-success btn-lg w-100 mt-4 mb-0" id="resetPassWord">Reset Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" 
              style="background-image: url('/img/BGLOGINIMAGE.png'); background-size: cover;">
                <span class="mask bg-gradient-success opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"Career Guidance System"</h4>
                <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main> -->


  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <img src="/img/spcpc-removebg-preview.png" style="width: 100px;" alt="logo">
                  <h4 class="font-weight-bolder">Create New Password</h4>
                  <p class="mb-0">Enter your new password</p>
                </div>
                <div class="card-body">
                  <form role="form">
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-lg" placeholder="New Password" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" id="confirmPassword" required>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-lg btn-success btn-lg w-100 mt-4 mb-0" id="resetPassWord">Reset Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" 
                style="background-image: url('/img/BGLOGINIMAGE.png'); background-size: cover;">
                <span class="mask bg-gradient-success opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"Career Guidance System"</h4>
                <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  