<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
            <h6>Questions</h6>
            <!-- Modal Trigger Button -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addquestionsmodal">
                Add Questions
            </button>
        </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0" id="dataTableQuestions">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">ID</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Question Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Assessment Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Question Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Action</th>
                    </tr>             
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Structure -->
<div class="modal fade" id="addquestionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
            <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
            colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
            <h3 class="modal-title" id="exampleModalLabel">Add Questions</h3>
            <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                <div class="col">
                    <div class="form-floating">
                    <select type="text" class="form-control border-form-modal" id="asstype" name="asstype" placeholder="Assessment Type">
                        <option selected disabled>Assessment Type</option>
                    </select>
                    <label for="floatingInput">Assessment Type</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="questionname" name="questionname" placeholder="Name">
                    <label for="floatingInput">Question Name</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <label for="description">Question Text</label>
                    <div class="form-floating">
                        <textarea class="form-control border-form-modal" 
                                id="qttext" 
                                name="qttext" 
                                placeholder="Description"
                                style="min-height: 200px; max-height: none; height: auto; resize: vertical; padding: 12px;">
                        </textarea>
                    </div>
                </div>       
                <br>
                <div class = "row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <select type="text" class="form-control border-form-modal" id="ifyes" name="ifyes" placeholder="Assessment Type">
                            <option selected disabled>Select Personality Type</option>
                        </select>
                        <label for="floatingInput">If Yes?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="ifyesname" name="ifyesname" placeholder="Desc">
                        <label for="floatingInput">If Yes? Name</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class = "row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <select type="text" class="form-control border-form-modal" id="ifno" name="ifno" placeholder="Assessment Type">
                            <option selected disabled>Select Personality Type</option>
                        </select>
                        <label for="floatingInput">If No?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="ifnoname" name="ifnoname" placeholder="Desc">
                        <label for="floatingInput">If No? Name</label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-gradient-primary" id="questionSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="editquestionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
            <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
            colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
            <h3 class="modal-title" id="exampleModalLabel">Edit Questions</h3>
            <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                <div class="col">
                    <div class="form-floating">
                    <select type="text" class="form-control border-form-modal" id="editasstype" name="editasstype" placeholder="Assessment Type">
                        <option selected disabled>Assessment Type</option>
                    </select>
                    <label for="floatingInput">Assessment Type</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="editquestionname" name="editquestionname" placeholder="Name">
                    <label for="floatingInput">Question Name</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <label for="description">Question Text</label>
                    <div class="form-floating">
                        <textarea class="form-control border-form-modal" 
                                id="editqttext" 
                                name="editqttext" 
                                placeholder="Description"
                                style="min-height: 200px; max-height: none; height: auto; resize: vertical; padding: 12px;">
                        </textarea>
                    </div>
                </div>       
                <br>
                <div class = "row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <select type="text" class="form-control border-form-modal" id="editifyes" name="editifyes" placeholder="Assessment Type">
                            <option selected disabled>Select Personality Type</option>
                        </select>
                        <label for="floatingInput">If Yes?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="editifyesname" name="editifyesname" placeholder="Desc">
                        <label for="floatingInput">If Yes? Name</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class = "row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <select type="text" class="form-control border-form-modal" id="editifno" name="editifno" placeholder="Assessment Type">
                            <option selected disabled>Select Personality Type</option>
                        </select>
                        <label for="floatingInput">If No?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="editifnoname" name="editifnoname" placeholder="Desc">
                        <label for="floatingInput">If No? Name</label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-gradient-primary" id="questionEditBtn">Save</button>
            </div>
        </div>
    </div>
</div>
