<script>
  let bulletinid = "";
  let base64String = "";

  $(document).ready(function () {
    console.log("hello");
    LoadTable();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableAnnouncement").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/announcements/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-success" name="editBtn" data-bs-toggle="modal" data-bs-target="#editannouncementmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "80px";
              imgElement.style.height = "80px";

              finalData.push({
                image: imgElement.outerHTML,
                bulletinid: item.bulletinid,
                tittle: item.tittle,
                type: item.type,
                targetdate: item.targetdate,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "image" },
          { data: "bulletinid" },
          { data: "tittle" },
          { data: "type" },
          { data: "targetdate" },
          { data: "status" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          var jobStatusCell = $(row).find("td:eq(5)");
          var jobStatusText = data.status;

          var jobStatusClass = "";
          if (jobStatusText === "Active") {
            jobStatusClass =
              "badge badge-sm bg-gradient-success text-white rounded-pill";
          } else if (jobStatusText === "Inactive") {
            jobStatusClass =
              "badge badge-sm bg-gradient-danger text-white rounded-pill";
          }

          jobStatusCell.html(
            `<span class="${jobStatusClass}">${jobStatusText}</span>`
          );

          $("td", row).each(function () {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
            this.style.fontSize = "14px";
          });
        },
        initComplete: function () {
          $("#dataTableStrandsType thead th").css({
            "font-size": "14px",
            "font-weight": "bold",
            "text-align": "center",
          });
        },

        initComplete: function () {},
      });
    }

    $("#announcementmodal").on("shown.bs.modal", function () {
      $("#announcementdescription").summernote({
        placeholder: "Enter the description here...",
        tabsize: 2,
        height: 200,
        toolbar: [
          ["style", ["style"]],
          ["font", ["bold", "italic", "underline", "clear"]],
          ["fontname", ["fontname"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["table", ["table"]],
          ["insert", ["link", "picture", "video"]],
          ["view", ["fullscreen", "codeview", "help"]],
        ],
      });
    });

    $("#announcementmodal").on("hidden.bs.modal", function () {
      $("#announcementdescription").summernote("destroy");
    });

    $(document).on("click", "#announcementsavebtn", function () {
      let image = base64String;
      let tittle = $("#announcementtitle").val();
      let type = $("#announcementtype").val();
      let targetdate = $("#targetdate").val();
      let description = $("#announcementdescription").val();
      let enddate = $("#enddate").val();

      var message = "";

      if (image == "") {
        message += "DESCRIPTION ";
      }

      if (tittle == "") {
        message += "DESCRIPTION ";
      }

      if (type == "") {
        message += "TITTLE ";
      }

      if (targetdate == "") {
        message += "TITTLE ";
      }

      if (description == "") {
        message += "TITTLE ";
      }

      if (enddate == "") {
        message += "TITTLE ";
      }

      if (message !== "") {
        toastr.error(message, "Validation Error");
      } else {
        $.ajax({
          type: "POST",
          url: "/announcements/save",
          data: {
            image: image,
            tittle: tittle,
            type: type,
            targetdate: targetdate,
            enddate: enddate,
            description: description,
          },
          beforeSend: function () {
            showSpinnerToast("Saving...", "Please wait");
          },
          success: function (result) {
            clearToast();

            if (result.msg == "success") {
              showSuccessToast("Saved Successfully", "Success");

              setTimeout(function () {
                window.location.reload();
              }, 2000);
              LoadTable();
            } else {
              toastr.warning("Data already exists!", "Warning");
            }
          },
          error: function (err) {
            clearToast();
            toastr.warning("Data already exists!", "Warning");
          },
        });
      }
    });

    $("#dataTableAnnouncement tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      bulletinid = dataRow[1];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/announcements/getannouncement",
        data: {
          bulletinid: bulletinid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editdepartmentid").val(item.bulletinid);
              $("#editannouncementtitle").val(item.tittle);
              $("#editannoncementpreview").attr(
                "src",
                "data:image/jpg;base64," + item.image
              );
              base64String = item.image;
              //$("#editannouncementdescription").val(item.description);
              $("#editannouncementdescription").summernote(
                "code",
                item.description
              );
              $("#editannouncementstatus").val(item.status);
              $("#editannouncementtype").val(item.type);
              $("#edittargetdate").val(item.targetdate);
              $("#editenddate").val(item.enddate);
            });
          } else {
            toastr.error("Error fetching employee data", "Error");
          }
        },
        error: function (err) {
          toastr.error(
            "An error occurred while fetching employee data",
            "Error"
          );
        },
      });
    });

    $("#editannouncementdescription").summernote({
      placeholder: "Enter the description here...",
      tabsize: 2,
      height: 200,
      toolbar: [
        ["style", ["style"]],
        ["font", ["bold", "italic", "underline", "clear"]],
        ["fontname", ["fontname"]],
        ["color", ["color"]],
        ["para", ["ul", "ol", "paragraph"]],
        ["table", ["table"]],
        ["insert", ["link", "picture", "video"]],
        ["view", ["fullscreen", "codeview", "help"]],
        ["custom", ["responsive"]],
      ],
      buttons: {
        responsive: function (context) {
          var ui = $.summernote.ui;
          var button = ui.button({
            contents: '<i class="fa fa-mobile"></i> Responsive',
            tooltip: "Add responsive styles",
            click: function () {
              var currentContent = context.invoke("code");
              var responsiveContent = `<div class="responsive">${currentContent}</div>`;
              context.invoke("code", responsiveContent);
            },
          });
          return button.render();
        },
      },
    });

    $(document).on("click", "#editannouncementsavebtn", function () {
      let id = bulletinid;
      let tittle = $("#editannouncementtittle").val();
      let description = $("#editannouncementdescription").summernote("code");
      let status = $("#editannouncementstatus").val();
      let type = $("#editannouncementtype").val();
      let targetdate = $("#edittargetdate").val();
      let enddate = $("#editenddate").val();
      let image = base64String;

      console.log(id, "id");
      console.log(tittle, "tittle");
      console.log(description, "description");
      console.log(status, "status");
      console.log(type, "type");
      console.log(targetdate, "targetdate");
      console.log(enddate, "enddate");
      console.log(image, "image");

      var message = "";

      if (image === "") {
        message += "image is required. ";
      }

      if (tittle === "") {
        message += "tittle is required. ";
      }

      if (description === "") {
        message += "description is required. ";
      }

      if (status === "") {
        message += "status is required. ";
      }

      if (type === "") {
        message += "type is required. ";
      }

      if (targetdate === "") {
        message += "targetdate is required. ";
      }

      if (enddate === "") {
        message += "enddate is required. ";
      }

      if (message !== "") {
        toastr.error(message, "Validation Error");
      } else {
        $.ajax({
          type: "PUT",
          url: "/announcements/edit",
          data: {
            bulletinid: id,
            image: image,
            tittle: tittle,
            type: type,
            targetdate: targetdate,
            enddate: enddate,
            description: description,
            status: status,
          },
          beforeSend: function () {
            showSpinnerToast("Saving...", "Please wait");
          },
          success: function (result) {
            clearToast();

            if (result.msg == "success") {
              showSuccessToast("Saved Successfully", "Success");

              setTimeout(function () {
                window.location.reload();
              }, 2000);
              LoadTable();
            } else {
              toastr.warning("Data already exists!", "Warning");
            }
          },
          error: function (err) {
            clearToast();
            toastr.warning("Data already exists!", "Warning");
          },
        });
      }
    });

    $(document).on("change", "#announcementimage", function (e) {
      const input = document.getElementById("announcementimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("annoncementpreview");
        preview.src = reader.result;
      };
      imageUploaded();
    });

    function imageUploaded() {
      const input = document.getElementById("announcementimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#editannouncementimage", function (e) {
      const input = document.getElementById("editannouncementimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editannoncementpreview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("editannouncementimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;
      };
      reader.readAsDataURL(file);
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableAnnouncement");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });
</script>
