<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between align-items-center">
            <h6>Announcement</h6>
            <!-- Modal Trigger Button -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#announcementmodal">
                Add Announcement
            </button>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0" id="dataTableAnnouncement">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Image</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">ID</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Title</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Target Date</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Status</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Action</th>
                    </tr>             
                </thead>
                <tbody>
                    <!-- Table body will be populated dynamically -->
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="announcementmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Announcement</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <form>
                    <div class="row g-3">
                        <div class="form-floating">
                            <label class="form-label" for="announcementimage"></label>
                            <div class="text-center mb-3">
                                <img id="annoncementpreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="Image Preview">
                            </div>
                            <input type="file" name="announcementimage" id="announcementimage" class="form-control border-form-modal" accept="image/*">
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="announcementtitle" name="announcementtitle" placeholder="Title">
                                <label for="announcementtitle">Title</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-control border-form-modal" id="announcementtype" name="announcementtype">
                                    <option value="Event">Event</option>
                                    <option value="Announcement">Announcement</option>
                                </select>
                                <label for="announcementtype">Announcement Type</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="date" class="form-control border-form-modal" id="targetdate" name="targetdate" placeholder="Target Date">
                                <label for="targetdate">Start Date</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="date" class="form-control border-form-modal" id="enddate" name="enddate" placeholder="End Date">
                                <label for="enddate">End Date</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <label for="announcementdescription">Description</label>
                            <div class="form-floating">
                                <textarea class="form-control border-form-modal" id="announcementdescription" name="announcementdescription" rows="4" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-primary" id="saveassessmentsbtn">Save</button>
            </div>
        </div>
    </div>
</div>
