<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <!-- Added white background, border, and shadow -->
      <div class="bg-white p-4 rounded shadow">
        <h4 class="fw-bold text-center mt-3">Question 1</h4>
        <form class="px-4" action="">
          <p class="fw-bold">Do you feel energized when meeting new people and engaging in group activities? </p>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
            <label class="form-check-label" for="radioExample1">
              Yes
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
            <label class="form-check-label" for="radioExample2">
              No I Prefer
            </label>
          </div>
        </form>
        <div class="text-end">
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
